*{
  padding:0px;
  margin: 0px;
 
}

.App {
  text-align: center;
}



.clouds{
  background-image: url("./assets/clouds.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:1000px;
  
}
.hot{
  background-image: url("./assets/hot.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:1000px;
} 
.breezey{
  background-image: url("./assets/breezey.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:1000px;
}
.humdit{
  background-image: url("./assets/humid.jpg");
  background-size: cover;
  background-position: center;
  height:1000px;
  

}
.rain{
  background-image: url("./assets/rain.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:1000px;

}
.snow{
  background-image: url("./assets/snow.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:1000px;

}
.clear{
  background-image: url("./assets/clear.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:1000px;

}
.storm{
  background-image: url("./assets/storm.jpg");
  background-size: cover;
  background-position: center;
  height:1000px;
  

}
.sunny{
  background-image: url("./assets/sunny.jpg");
  background-size: cover;
  background-position: center;
  height:1000px;
  
}
.thunder{
  background-image: url("./assets/thunder.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:1000px;
}
.cold{
  background-image: url("./assets/cold.jpg");
  background-size: cover;
  background-position: center;
  height:1000px;

  
}
.smoke{
  background-image: url("./assets/smoke.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:1000px;
}



.main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom,rgba(0, 0 , 0,0.2),rgba(0,0,0,0,0.75));
}

.search-box{
  display:block
}

.search-bar{
  border: 3px solid rgb(9, 9, 9);
  border-radius: 10px;
  background-color: linear-gradient(0,0,0,.75);
  width: 350px;
  margin: 150px;
  box-shadow: 2px 4px 3px 2px black;
  padding:5px

}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.bottom{
  padding: 5px;
  margin: 200px;
  margin-right: 200px;
  margin-left: 200px;
  display: flex;
  justify-content: space-around;
  width: 1000px;
  background-color: rgba(0, 0 , 0,0.2);
  color: #FFF;
  font-weight: 800;
  font-size: large;
  position: fixed;
}
.container{
  color: #FFF;
  font-weight: 800;
  font-size: large;
  text-shadow: 2px 2px 2px black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
